body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

/* navbar */
.navbar {
  padding: 12px;
  background-color: #c4c4c4;
  display: flex;
  height: 31.2px;
}
.navbar div {
  display: flex;
  align-items: center;
}
.cap-icon {
  margin: 0 10px;
}
.nav-pmp {
  padding-left: 10px;
  border-left: solid black 2px;
  font-weight: 700;
}
.flex-div {
  flex: 1;
}
.link {
  display: flex;
}
.link * {
  margin: 0 10px;
  color: #606060;
}
.link Button {
  background-color: black;
  color: white;
  font: inherit;
}
/* :link Button:hover {
  background-color: #ffde6a;
} */
