body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
html,
body,
#root,
.App {
  height: 100%;
}
.flex-div {
  flex: 1;
}

/* navbar */
.navbar {
  padding: 12px;
  background-color: #c4c4c4;
  display: flex;
  height: 31.2px;
}
.navbar > * {
  display: flex;
  align-items: center;
}
.nav-logo {
  color: black;
  text-decoration: none;
}
.cap-icon {
  margin: 0 10px;
}
.nav-pmp {
  padding-left: 10px;
  border-left: solid black 2px;
  font-weight: 700;
}
.link {
  display: flex;
}
.link * {
  margin: 0 10px;
  color: #606060;
}
.link Button {
  background-color: black;
  color: white;
  font: inherit;
}
.nav-bar-link {
  text-decoration: none;
  color: #606060;
}
.nav-bar-link-active {
  color: black;
}
.nav-bar-link:hover {
  color: black;
  cursor: pointer;
}

/* Landing */
.landing {
  height: calc(60vh + 175px);
  position: relative;
  padding: calc(40vh - 205px) 50px 30px;
}
.landing-top {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c4c4c4;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
  height: 40vh;
  width: 100%;
  min-height: 200px;
  min-width: 375px;
  z-index: -1;
}
.landing-content {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-logo {
  border: solid pink 5px;
  display: flex;
  flex-wrap: wrap;
  min-width: 375px;
  margin-top: 30px;
}
.landing-logo-sec {
  flex: 1;
  width: 375px;
  height: 200px;
  min-width: 375px;
  border: solid #ffde6a 5px;
  margin: 0 10px 10px;
  background-color: #fafafa;
}
.landing-slogan {
  margin: 40px auto;
  font-style: italic;
  max-width: 790px;
  color: #606060;
  font-weight: 500;
}
.landing-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 790px;
  margin-top: 20px;
}
.landing-links * {
  margin-bottom: 30px;
}
.landing-links Button {
  font: inherit;
  font-weight: 500;
  height: 48px;
}
.landing-links-flex {
  min-width: calc(100% - 730px);
}

/* Search */
.search-content {
  margin: 50px 100px;
}
.search-content > * {
  margin: 0 auto 30px;
}
.search-bar {
  font: inherit;
  height: 48px;
  background-color: white;
  border: solid #c4c4c4 1px;
  border-radius: 5px;
  max-width: 620px;
  min-width: 340px;
  display: flex;
  align-items: center;
}
.search-bar > * {
  padding: 0 10px;
}
.search-bar-icon {
  color: #c4c4c4;
}
.left-icon {
  border-left: solid #c4c4c4 1px;
  padding-left: 16px;
}
.clear-icon:hover {
  color: #606060;
}
#search-bar-select.MuiFormControl-root {
  padding: 0 10px 0 16px;
}
.filter-sort-select.MuiFormControl-root {
  background-color: #606060;
  border-radius: 5px;
  width: 210px;
}
.filter-sort-select .MuiFilledInput-root .MuiSelect-select {
  padding: 10px 42px 10px 20px !important;
}
.Mui-selected {
  background-color: #ffde6a !important;
}
.MuiAutocomplete-root {
  flex: 1;
  font-size: 14px;
}
.MuiAutocomplete-root fieldset {
  border: none;
  background-color: transparent !important;
}
.MuiAutocomplete-option:hover {
  background-color: #ffde6a !important;
}

.search-res {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.search-res > * {
  width: inherit;
}
.search-res-university {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}
.search-res-university > * {
  margin: 0 10px;
}
.search-res-filter-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: 14px;
}
.search-res-stat {
  margin-bottom: 10px;
}
.filter-sort {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  justify-content: space-between;
}
.filter-sort > * {
  margin-bottom: 10px !important;
}
.filter-sort:nth-child(1) {
  margin-right: 10px;
}
#search--res-profs {
  display: flex;
  flex-direction: column;
}
.search-prof {
  background-color: white;
  border-radius: 5px;
  display: flex;
  margin-bottom: 16px;
  padding: 1rem;
  color: black;
  text-decoration: none;
}
.search-prof:hover {
  box-shadow: 0 0 5px #ffde6a;
}
.search-prof-icon {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 4rem;
}
.prof-info-name {
  font-weight: 700;
}
.prof-info-name,
.prof-info-background {
  margin-bottom: 4px;
}
.prof-info-rating,
.prof-info-background {
  display: flex;
  flex-wrap: wrap;
}
.prof-info-likes,
.prof-info-style {
  display: flex;
}
.prof-info-background > *,
.prof-info-score > *,
.prof-info-likes > *,
.prof-info-style > * {
  padding-right: 10px;
}
#search-res-schools > * {
  margin-bottom: 16px;
}
.search-res-school {
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  width: calc(inherit-32px);
}
.search-res-school:hover {
  background-color: #ffde6a;
  cursor: pointer;
}
.search-res-school > * {
  margin-right: 16px;
  font-weight: 500;
}
.center-text {
  text-align: center;
}

/* forms */
#login-content,
#signup-content {
  max-width: 420px;
  margin: 50px auto;
  text-align: left;
}
form {
  display: flex;
  flex-direction: column;
}
form .MuiButton-root,
form .MuiOutlinedInput-root {
  margin-bottom: 20px;
}
input.MuiOutlinedInput-input {
  background-color: white !important;
}
